body {
    font-family: Arial, sans-serif;
    background-color: #ffe4e1;
   
}

.gallery {
    text-align: center;
    padding: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
}

